 :root {
     --navy-blue: #2E2F42;
     --cornflower: #E7E9FC;
     --iris: #4D5AE5;
     --slate: #434455;
     --prgrf: #F4F4FD;
     --white: #FFFFFF;
     --darkblue: #404BBF;
     --headerclr: #e7e9fc;
 }

 body {
     font-family: Roboto, sans-serif;
     color: var(--slate);
     background-color: var(--white);
 }

img{
    display: block;
}

.page-header{
    border-bottom: 1px solid var(--headerclr);
}

.header-content{
    display: flex;
    justify-content: space-between;
}

.container{
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.header-nav{
    display: flex;
    align-items: center;
}

.nav-btn link{
    padding: 24px 0;
}

.address-contacts{
    display: flex;
    gap: 40px;
}

.list {
     list-style: none;
 }

.link {
     text-decoration: none
 }

.header-logo,
.footer-logo{
     font-family: "Raleway", sans-serif;
     font-size: 18px;
     font-weight: 800;
     line-height: 1.17;
     letter-spacing: 0.03em;
     color: var(--iris);
     text-transform: uppercase;
     margin-right: 76px;
 }

.studio-light {
     color: var(--prgrf);
 }

.studio-dark {
     color: var(--navy-blue)
 }

 .header-menu{
    display: flex;
    gap: 40px;
 }

.sct-two-hero{
    background-color: var(--navy-blue);
    padding: 188px 0;
 }

.sct-two-hero-title{
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--white);
 }

.sct-two-hero-btn{
    background-color: var(--iris);
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white);
    cursor: pointer;
 }

.sct-two-hero-btn:hover,
.sct-two-hero-btn:focus{
    background-color: var(--darkblue);
 }

.sct-two-ttl{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
 }

.sct-two-prgrf{
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
 }

.sct-three-ttl{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--navy-blue);
 }

.sct-four{
    background-color: var(--prgrf); 
 }

.sct-four-ttl{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--navy-blue);
 }

.sct-four-list{
    background-color: var(--white);
 }

.footer-sct {
     background-color: var(--navy-blue);
     color: var(--prgrf);
 }

.footer-prgrf{
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--prgrf);
 }

.nav-btn{
     font-size: 16px;
     font-weight: 500;
     line-height: 1.5;
     letter-spacing: 0.02em;
     color: var(--navy-blue);
 }

.nav-btn:hover,
.nav-btn:focus {
     color: var(--darkblue);
 }

.contacts{
     font-style: normal;
}

.contact {
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
     color: var(--slate);
 }

.contact:hover,
.contact:focus {
     color: var(--darkblue);
 }

.filter-btn{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--iris);
    background-color: var(--prgrf);
    cursor: pointer;
 }

.filter-btn:hover,
.filter-btn:focus{
    color: var(--white);
    background-color: var(--darkblue);
 }